.App {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.App>div {
    /*margin-right: 50px;*/
}
.error {
    border: 1px solid red;
}
.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}
.is-done {
    opacity: 0.6;
}

ul.task-list {
    padding: 0;
}
ul.task-list>li {
    list-style-type: none;
}